@viewport {
  width: device-width; }
/*@font-face {
  font-family: 'M+ 1mn';
  font-style: normal;
  font-weight: 300;
  src: local('mplus-1mn-light'), local('M+ 1mn light'), url('/res/mplus-1mn-light.ttf')
       format('truetype');
}
@font-face {
  font-family: 'M+ 1mn';
  font-style: normal;
  font-weight: 600;
  src: local('mplus-1mn-regular'), local('M+ 1mn regular'), url('/res/mplus-1mn-regular.ttf')
       format('truetype');
}*/
/* Base */
* {
  margin: 0;
  padding: 0;
  font-family: inherit; }

body {
  background: rgba(193, 183, 86, 0.21);
  color: #444;
  font: 14px 'Poly', georgia, serif;
  line-height: 1.5;
  font-weight: lighter;
  margin: 0 auto;
  width: 100%;
  zoom: 0.8;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: subpixel-antialiased; }

div.breaker {
  clear: both; }

.template {
  display: none; }

p, ul, ol, pre, blockquote, hr, object {
  margin: 1em 0; }

pre, code, tt {
  /*-webkit-font-smoothing: subpixel-antialiased;*/
  /*font-family: 'M+ 1mn', 'Consolas', monospace;*/
  font-family: 'Ubuntu Mono', 'Consolas', monospace;
  font-weight: 300;
  font-size: 12px; }

img {
  border: none;
  vertical-align: bottom; }

strong {
  font-weight: bold; }

hr {
  height: 1px;
  border: none;
  background-color: #ddd; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poly', helvetica, sans-serif;
  font-weight: normal;
  color: #040404;
  /*margin: 1.618em 0 0.7em 0;*/
  /*-webkit-font-smoothing: antialiased;*/
  text-rendering: optimizelegibility; }

h1, h2 {
  font-size: 200%; }

h3 {
  font-size: 180%; }

h4, h5, h6 {
  margin: 1em 0 -0.2em 0; }

h4 {
  font-size: 130%; }

h5, h6 {
  font-size: 150%; }

a {
  text-decoration: none; }

a:link, a:active {
  color: darkgrey; }

a:visited {
  color: darkgrey; }

/*a:link:hover, a:active:hover, a:visited:hover { text-decoration:underline; }*/
a:link:hover, a:active:hover {
  color: black; }

a:visited:hover {
  color: black; }

/*a > img { margin-bottom:-1px; }*/
a.img {
  border: none;
  background: transparent !important; }

/* Headlines */
h1 > a, h2 > a, h3 > a, h4 > a, h5 > a, h6 > a, h1 > a:hover,
h2 > a:hover, h3 > a:hover, h4 > a:hover, h5 > a:hover, h6 > a:hover {
  color: inherit !important;
  background-color: transparent !important; }

/* header */
.logo {
  padding-top: 10px; }

header {
  display: block;
  height: 100px;
  margin: 0 60px 0 50px;
  color: #ccc; }

header h1 {
  display: block;
  height: 50px;
  margin: 30px 0 0 0;
  float: left; }

header h1 a {
  display: inline-block;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transition: 160ms -webkit-transform ease-out;
  text-decoration: none; }

header h1 a:hover {
  /*-webkit-transform: translate3d(0,2px,0);*/
  /*    -webkit-filter: blur(1px);
      -moz-filter: blur(1px);*/
  cursor: pointer;
  text-decoration: none; }

header h1 img {
  display: block;
  float: left; }

header ul.navigation {
  display: block;
  text-align: left;
  float: right;
  line-height: 50px;
  margin-top: 35px;
  font-family: helvetica, sans-serif; }

header ul.navigation li {
  display: inline-block;
  list-style: none;
  margin-left: 1em; }

header ul.navigation li:first-child {
  margin-left: 0; }

header ul.navigation li a {
  color: #888;
  text-decoration: none;
  font-size: 11px; }

header ul.navigation li a:hover {
  color: black;
  text-decoration: none; }

header ul.navigation li a.active {
  font-weight: bold;
  color: black; }

/* main */
#main {
  margin-bottom: 3em; }

/* --------------------------------------------------------------------------------------------- */
/* main content */
div.content {
  background: white;
  padding: 70px 60px;
  margin-bottom: 60px; }

div.content.full-bleed {
  padding: 0; }

div.content.photo {
  padding: 0;
  margin: 0; }

div.content:not(.sub) h1:first-child {
  margin-top: 0;
  font-size: 300%; }

div.content img, div.content iframe {
  display: block;
  max-width: 100%;
  margin: 1em 0; }

div.content iframe {
  border: none; }

div.content *[align=right] {
  margin: 0 0 1em 1em; }

div.content *[align=left] {
  margin: 0 1em 1em 0; }

/*div.post strong { font-weight:inherit; background:#FBF4B1; }*/
div.content li {
  margin-left: 2em;
  margin-bottom: 0.3em; }

div.content ul > li {
  margin-left: 1.4em; }

div.content blockquote {
  font-family: 'Poly', georgia;
  font-style: italic;
  line-height: 1.618;
  background: transparent url(quotation-mark.png) no-repeat scroll 25px 1.4em;
  padding: 0.1em 1em 0.1em 60px;
  margin: 1.618em 0 1.618em -60px;
  color: #666055;
  text-rendering: optimizelegibility; }

div.content div.quotation blockquote {
  margin-left: -30px; }

div.content pre {
  line-height: 1.3;
  background-color: transparent;
  overflow-x: auto;
  background-color: #f2f2f2;
  border-radius: 5px;
  padding: 0.6em 20px 0.6em 10px;
  /*display: -webkit-flex; display: flex;
  -webkit-flex-direction: row; flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;*/ }

div.content code {
  background-color: #f6f9fa;
  color: black;
  /*border: 1px solid #eaeaea;*/
  border-radius: 3px;
  padding: 0 0.3em; }

div.content pre > code {
  padding: 0;
  background-color: transparent;
  border-radius: none;
  /*border:none;*/
  /*background-color:#f2f2f2;
  border-radius: 5px;
  padding:0.6em 20px 0.6em 10px;*/
  /*border-top: 1px solid #f0f2f4;
  border-bottom: 1px solid #f0f2f4;*/
  /*margin-left:-10px;*/ }

div.content *:target {
  background: #fe0; }

div.content sup:target a {
  padding: 2px 5px; }

div.content div.footnotes li {
  color: #999; }

div.content div.footnotes li:target {
  background: #ffc;
  color: inherit; }

/* wide objects */
/* this is b0rked */
/*div.content *[alt~="fullbleed"] {
  position: relative;
  left:-11%; right:-20%;
}
div.content *[alt~="large"] {
  max-width:1024px;
  margin-left:-180px;
}*/
/*div.content { border-bottom:2px solid #D1D1D1; }*/
div.content.sub {
  margin-top: -50px;
  padding-top: 20px; }

/* --------------------------------------------------------------------------------------------- */
/* intro on first page */
div.content.intro {
  padding: 40px; }

/* --------------------------------------------------------------------------------------------- */
/* posts */
div.posts div.end {
  padding: 40px;
  text-align: center; }

.grid-image-wrapper {
  width: 250px;
  height: 150px; }

.grid-image-wrapper-square {
  width: 250px;
  height: 250px; }

/* --------------------------------------------------------------------------------------------- */
/* post excerpt */
/* Wrapped in a div.content.full-bleed */
a.post-excerpt {
  display: block;
  color: #316d96;
  border-bottom: 4px solid #ddd; }

a.post-excerpt div.padded-content {
  display: block;
  padding: 40px; }

a.post-excerpt div.grid-mask {
  display: none; }

a.post-excerpt.photo {
  height: 320px; }

/*a.post-excerpt.photo div.padded-content {
  display: -webkit-box; display: -moz-box; display: box;
  -webkit-box-orient: vertical; -moz-box-orient: vertical; box-orient: vertical;
  -webkit-box-pack: end; -moz-box-pack: end; box-pack: end;
}*/
a.post-excerpt.photo div.title {
  padding: 10px 40px;
  font-size: 300%;
  font-weight: 100;
  color: white;
  /*background:rgba(255,200,0,0.1);*/
  -webkit-text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  -moz-text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2; }

a.post-excerpt.photo div.padded-content {
  padding: 0;
  width: 100%;
  height: 100%;
  background: transparent no-repeat center center scroll;
  position: relative; }

a.post-excerpt.photo div.padded-content div.image {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

a.post-excerpt.photo:hover div.padded-content {
  opacity: 1; }

a.post-excerpt.photo:hover div.padded-content div.image {
  opacity: 0.5; }

@media screen and (min-width: 680px) {
  a.post-excerpt {
    position: relative;
    display: block;
    width: 50%;
    /* 680/2 */
    /*height:180px;*/
    overflow-y: hidden;
    float: left;
    border: none;
    margin-bottom: 10px;
    /*background:#eee;*/
    /*-webkit-transform: translate3d(0,0,0);*/ }

  a.post-excerpt.photo {
    height: 340px; }

  a.post-excerpt.photo div.padded-content {
    padding: 0;
    width: 100%;
    height: 100%;
    background: transparent no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }

  a.post-excerpt.photo:hover div.padded-content {
    opacity: 0.9; } }
/* END @media screen and (min-width: 680px) */
/*@media screen and (min-width: 480px) {
  a.post-excerpt {
    width:50%;
  }
}*/
a.post-excerpt:hover {
  color: #364fa2;
  background: #cbd1d1;
  text-decoration: none; }

a.post-excerpt div.title {
  font-weight: bold; }

a.post-excerpt info {
  display: inline-block;
  padding-right: 8px;
  color: #999;
  font-style: italic;
  /*margin-bottom:3em;*/ }

/* --------------------------------------------------------------------------------------------- */
/* photo post */
div.content.photo-post {
  padding-top: 60px; }

div.content.photo-post p:first-child, div.content.photo-post img:first-child {
  padding-top: 0;
  margin-top: 0; }

div.content.photo-post p, div.content.photo-post iframe {
  padding: 40px 0 0 0;
  margin: 0; }

/*div.content.photo-post {
  padding: 0 0 30px 0;
  margin:0 0 70px 0;
}
  div.content.photo-post p, div.content.photo-post iframe {
    padding: 40px 40px 0 40px;
    margin:0;
  }
  div.content.photo-post img {
    display:block;
    padding:0 0 10px 0;
    margin:0;
  }
  div.content.photo-post p.datetime {
    color:#ccc;
  }*/
/* --------------------------------------------------------------------------------------------- */
/* posts */
div.post {
  padding-bottom: 0em;
  /*margin-bottom:-70px;*/
  page-break-before: always; }

div.post.single, div.post:last-child {
  border-bottom: none; }

/*div.post h1:first-child, div.post h2:first-child { margin-top:0; }
div.post h2.title, div.post h1:first-child { font-size:42px; }*/
/*div.post h1 { margin-top: 1.618em; }*/
div.post actions, div.post info {
  color: #ccc; }

div.post actions {
  display: inline-block;
  float: right; }

div.post info {
  display: inline-block;
  /*xbackground:#DDF5EB;
  xborder-left:2px solid rgba(0,0,0,0.2);*/
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-left: none;
  border-right: none;
  padding: 8px 0px 8px 60px;
  margin-left: -60px;
  margin-bottom: 1em; }

div.post.photo info {
  margin: 0;
  padding: 0;
  border: 0;
  display: block; }

div.post info.after {
  margin-top: 30px;
  margin-right: -60px;
  margin-bottom: 0;
  padding-top: 25px;
  padding-right: 60px;
  padding-bottom: 25px;
  opacity: 0.6;
  border-color: rgba(0, 0, 0, 0.08);
  border-bottom: none; }

div.post info.after:hover {
  opacity: 1; }

div.post iframe[width="640"] {
  zoom: 0.87; }

/* prettyprint */
pre {
  color: black; }

pre .str {
  color: #080; }

pre .kwd {
  color: #000;
  font-weight: 500; }

pre .com {
  color: #999;
  font-style: italic; }

pre .typ {
  color: #349; }

pre .lit {
  color: #066; }

pre .pun, div.post pre .opn, div.post pre .clo {
  color: #660; }

pre .pln {
  color: #000; }

pre .tag {
  color: #008; }

pre .atn {
  color: #606; }

pre .atv {
  color: #080; }

pre .dec {
  color: #606; }

/* Use higher contrast and font-styling for printable form. */
@media print {
  pre .str {
    color: #060; }

  pre .kwd {
    color: #006;
    font-weight: bold; }

  pre .com {
    color: #999;
    font-style: italic; }

  pre .typ {
    color: #404;
    font-weight: bold; }

  pre .lit {
    color: #044; }

  pre .pun, div.post pre .opn, div.post pre .clo {
    color: #440; }

  pre .pln {
    color: #000; }

  pre .tag {
    color: #006;
    font-weight: bold; }

  pre .atn {
    color: #404; }

  pre .atv {
    color: #060; } }
/* meta */
div.meta {
  margin: 1em 0; }

div.meta p, div.meta .item {
  margin: 0; }

div.meta .item, div.meta .tag {
  background-repeat: no-repeat;
  background-position: 0 0.36em;
  padding-left: 15px;
  color: black;
  opacity: 0.4;
  display: block;
  float: left;
  margin-left: 2em; }

div.meta .item:hover {
  opacity: 1.0; }

div.meta .item:first-child {
  margin-left: 0; }

div.meta .item a, div.meta a.item, div.meta .item a:hover,
div.meta a.item:hover {
  color: inherit; }

div.meta .item.reblogged {
  background-image: url(http://static.tumblr.com/9njdies/592l8jd17/reblogged.png); }

div.meta .item.tags {
  padding-left: 0; }

div.meta .tag {
  margin-left: 1em;
  margin-right: 0;
  opacity: 1.0;
  background-image: url(http://static.tumblr.com/9njdies/YO7l8jd2b/tag.png); }

div.meta .tag:first-child {
  margin-left: 0; }

div.meta .item.time {
  background-image: url(http://static.tumblr.com/9njdies/zkFl8jd2w/time.png);
  float: right; }

div.meta .item.note-count {
  float: right;
  background-image: url(http://static.tumblr.com/9njdies/ykvl8nmzz/note-count.png); }

div.meta .item.dsq-comment-count {
  float: right;
  background-image: url(http://static.tumblr.com/9njdies/dbPl8uqid/comment-count.png);
  display: none; }

footer {
  color: #999;
  display: block;
  margin: 0;
  padding: 0 0 1em 0;
  text-align: center; }

footer img.cc {
  display: inline-block;
  vertical-align: -0.2em;
  border: none;
  width: 1em;
  height: 1em;
  opacity: 0.4; }

footer a.cc:hover {
  text-decoration: none; }

footer a.cc:hover img.cc {
  opacity: 1; }

footer a:link {
  color: #778; }

/* Viewport size */
@media screen and (min-width: 480px) {
  body {
    zoom: 0.8; } }
@media screen and (min-width: 680px) {
  body {
    zoom: 0.9;
    width: 680px; }

  header {
    margin: 0; }

  footer {
    margin: 5% 0; } }
@media screen and (min-width: 780px) {
  body {
    zoom: 1.3; } }
/*@media screen and (min-width: 900px) { body { zoom: 1; } }
@media screen and (min-width: 901px) { body { zoom: 1.001111111111111; } }
@media screen and (min-width: 902px) { body { zoom: 1.0022222222222221; } }
@media screen and (min-width: 903px) { body { zoom: 1.0033333333333334; } }
@media screen and (min-width: 904px) { body { zoom: 1.0044444444444445; } }
@media screen and (min-width: 905px) { body { zoom: 1.0055555555555555; } }
@media screen and (min-width: 906px) { body { zoom: 1.0066666666666666; } }
@media screen and (min-width: 907px) { body { zoom: 1.0077777777777779; } }
@media screen and (min-width: 908px) { body { zoom: 1.008888888888889; } }
@media screen and (min-width: 909px) { body { zoom: 1.01; } }
@media screen and (min-width: 910px) { body { zoom: 1.011111111111111; } }
@media screen and (min-width: 911px) { body { zoom: 1.0122222222222221; } }
@media screen and (min-width: 912px) { body { zoom: 1.0133333333333334; } }
@media screen and (min-width: 913px) { body { zoom: 1.0144444444444445; } }
@media screen and (min-width: 914px) { body { zoom: 1.0155555555555555; } }
@media screen and (min-width: 915px) { body { zoom: 1.0166666666666666; } }
@media screen and (min-width: 916px) { body { zoom: 1.0177777777777777; } }
@media screen and (min-width: 917px) { body { zoom: 1.018888888888889; } }
@media screen and (min-width: 918px) { body { zoom: 1.02; } }
@media screen and (min-width: 919px) { body { zoom: 1.021111111111111; } }
@media screen and (min-width: 920px) { body { zoom: 1.0222222222222221; } }
@media screen and (min-width: 921px) { body { zoom: 1.0233333333333334; } }
@media screen and (min-width: 922px) { body { zoom: 1.0244444444444445; } }
@media screen and (min-width: 923px) { body { zoom: 1.0255555555555556; } }
@media screen and (min-width: 924px) { body { zoom: 1.0266666666666666; } }
@media screen and (min-width: 925px) { body { zoom: 1.0277777777777777; } }
@media screen and (min-width: 926px) { body { zoom: 1.028888888888889; } }
@media screen and (min-width: 927px) { body { zoom: 1.03; } }
@media screen and (min-width: 928px) { body { zoom: 1.031111111111111; } }
@media screen and (min-width: 929px) { body { zoom: 1.0322222222222222; } }
@media screen and (min-width: 930px) { body { zoom: 1.0333333333333334; } }
@media screen and (min-width: 931px) { body { zoom: 1.0344444444444445; } }
@media screen and (min-width: 932px) { body { zoom: 1.0355555555555556; } }
@media screen and (min-width: 933px) { body { zoom: 1.0366666666666666; } }
@media screen and (min-width: 934px) { body { zoom: 1.0377777777777777; } }
@media screen and (min-width: 935px) { body { zoom: 1.038888888888889; } }
@media screen and (min-width: 936px) { body { zoom: 1.04; } }
@media screen and (min-width: 937px) { body { zoom: 1.041111111111111; } }
@media screen and (min-width: 938px) { body { zoom: 1.0422222222222222; } }
@media screen and (min-width: 939px) { body { zoom: 1.0433333333333332; } }
@media screen and (min-width: 940px) { body { zoom: 1.0444444444444445; } }
@media screen and (min-width: 941px) { body { zoom: 1.0455555555555556; } }
@media screen and (min-width: 942px) { body { zoom: 1.0466666666666666; } }
@media screen and (min-width: 943px) { body { zoom: 1.0477777777777777; } }
@media screen and (min-width: 944px) { body { zoom: 1.048888888888889; } }
@media screen and (min-width: 945px) { body { zoom: 1.05; } }
@media screen and (min-width: 946px) { body { zoom: 1.051111111111111; } }
@media screen and (min-width: 947px) { body { zoom: 1.0522222222222222; } }
@media screen and (min-width: 948px) { body { zoom: 1.0533333333333332; } }
@media screen and (min-width: 949px) { body { zoom: 1.0544444444444445; } }
@media screen and (min-width: 950px) { body { zoom: 1.0555555555555556; } }
@media screen and (min-width: 951px) { body { zoom: 1.0566666666666666; } }
@media screen and (min-width: 952px) { body { zoom: 1.0577777777777777; } }
@media screen and (min-width: 953px) { body { zoom: 1.058888888888889; } }
@media screen and (min-width: 954px) { body { zoom: 1.06; } }
@media screen and (min-width: 955px) { body { zoom: 1.0611111111111111; } }
@media screen and (min-width: 956px) { body { zoom: 1.0622222222222222; } }
@media screen and (min-width: 957px) { body { zoom: 1.0633333333333332; } }
@media screen and (min-width: 958px) { body { zoom: 1.0644444444444445; } }
@media screen and (min-width: 959px) { body { zoom: 1.0655555555555556; } }
@media screen and (min-width: 960px) { body { zoom: 1.0666666666666667; } }
@media screen and (min-width: 961px) { body { zoom: 1.0677777777777777; } }
@media screen and (min-width: 962px) { body { zoom: 1.068888888888889; } }
@media screen and (min-width: 963px) { body { zoom: 1.07; } }
@media screen and (min-width: 964px) { body { zoom: 1.0711111111111111; } }
@media screen and (min-width: 965px) { body { zoom: 1.0722222222222222; } }
@media screen and (min-width: 966px) { body { zoom: 1.0733333333333333; } }
@media screen and (min-width: 967px) { body { zoom: 1.0744444444444445; } }
@media screen and (min-width: 968px) { body { zoom: 1.0755555555555556; } }
@media screen and (min-width: 969px) { body { zoom: 1.0766666666666667; } }
@media screen and (min-width: 970px) { body { zoom: 1.0777777777777777; } }
@media screen and (min-width: 971px) { body { zoom: 1.0788888888888888; } }
@media screen and (min-width: 972px) { body { zoom: 1.08; } }
@media screen and (min-width: 973px) { body { zoom: 1.0811111111111111; } }
@media screen and (min-width: 974px) { body { zoom: 1.0822222222222222; } }
@media screen and (min-width: 975px) { body { zoom: 1.0833333333333333; } }
@media screen and (min-width: 976px) { body { zoom: 1.0844444444444445; } }
@media screen and (min-width: 977px) { body { zoom: 1.0855555555555556; } }
@media screen and (min-width: 978px) { body { zoom: 1.0866666666666667; } }
@media screen and (min-width: 979px) { body { zoom: 1.0877777777777777; } }
@media screen and (min-width: 980px) { body { zoom: 1.0888888888888888; } }
@media screen and (min-width: 981px) { body { zoom: 1.09; } }
@media screen and (min-width: 982px) { body { zoom: 1.0911111111111111; } }
@media screen and (min-width: 983px) { body { zoom: 1.0922222222222222; } }
@media screen and (min-width: 984px) { body { zoom: 1.0933333333333333; } }
@media screen and (min-width: 985px) { body { zoom: 1.0944444444444446; } }
@media screen and (min-width: 986px) { body { zoom: 1.0955555555555556; } }
@media screen and (min-width: 987px) { body { zoom: 1.0966666666666667; } }
@media screen and (min-width: 988px) { body { zoom: 1.0977777777777777; } }
@media screen and (min-width: 989px) { body { zoom: 1.0988888888888888; } }
@media screen and (min-width: 990px) { body { zoom: 1.1; } }
@media screen and (min-width: 991px) { body { zoom: 1.1011111111111112; } }
@media screen and (min-width: 992px) { body { zoom: 1.1022222222222222; } }
@media screen and (min-width: 993px) { body { zoom: 1.1033333333333333; } }
@media screen and (min-width: 994px) { body { zoom: 1.1044444444444443; } }
@media screen and (min-width: 995px) { body { zoom: 1.1055555555555556; } }
@media screen and (min-width: 996px) { body { zoom: 1.1066666666666667; } }
@media screen and (min-width: 997px) { body { zoom: 1.1077777777777778; } }
@media screen and (min-width: 998px) { body { zoom: 1.1088888888888888; } }
@media screen and (min-width: 999px) { body { zoom: 1.11; } }
@media screen and (min-width: 1000px) { body { zoom: 1.1111111111111112; } }
@media screen and (min-width: 1001px) { body { zoom: 1.1122222222222222; } }
@media screen and (min-width: 1002px) { body { zoom: 1.1133333333333333; } }
@media screen and (min-width: 1003px) { body { zoom: 1.1144444444444443; } }
@media screen and (min-width: 1004px) { body { zoom: 1.1155555555555556; } }
@media screen and (min-width: 1005px) { body { zoom: 1.1166666666666667; } }
@media screen and (min-width: 1006px) { body { zoom: 1.1177777777777778; } }
@media screen and (min-width: 1007px) { body { zoom: 1.1188888888888888; } }
@media screen and (min-width: 1008px) { body { zoom: 1.12; } }
@media screen and (min-width: 1009px) { body { zoom: 1.1211111111111112; } }
@media screen and (min-width: 1010px) { body { zoom: 1.1222222222222222; } }
@media screen and (min-width: 1011px) { body { zoom: 1.1233333333333333; } }
@media screen and (min-width: 1012px) { body { zoom: 1.1244444444444444; } }
@media screen and (min-width: 1013px) { body { zoom: 1.1255555555555556; } }
@media screen and (min-width: 1014px) { body { zoom: 1.1266666666666667; } }
@media screen and (min-width: 1015px) { body { zoom: 1.1277777777777778; } }
@media screen and (min-width: 1016px) { body { zoom: 1.1288888888888888; } }
@media screen and (min-width: 1017px) { body { zoom: 1.13; } }
@media screen and (min-width: 1018px) { body { zoom: 1.1311111111111112; } }
@media screen and (min-width: 1019px) { body { zoom: 1.1322222222222222; } }
@media screen and (min-width: 1020px) { body { zoom: 1.1333333333333333; } }
@media screen and (min-width: 1021px) { body { zoom: 1.1344444444444444; } }
@media screen and (min-width: 1022px) { body { zoom: 1.1355555555555557; } }
@media screen and (min-width: 1023px) { body { zoom: 1.1366666666666667; } }
@media screen and (min-width: 1024px) { body { zoom: 1.1377777777777778; } }
@media screen and (min-width: 1025px) { body { zoom: 1.1388888888888888; } }
@media screen and (min-width: 1026px) { body { zoom: 1.14; } }
@media screen and (min-width: 1027px) { body { zoom: 1.1411111111111112; } }
@media screen and (min-width: 1028px) { body { zoom: 1.1422222222222222; } }
@media screen and (min-width: 1029px) { body { zoom: 1.1433333333333333; } }
@media screen and (min-width: 1030px) { body { zoom: 1.1444444444444444; } }
@media screen and (min-width: 1031px) { body { zoom: 1.1455555555555557; } }
@media screen and (min-width: 1032px) { body { zoom: 1.1466666666666667; } }
@media screen and (min-width: 1033px) { body { zoom: 1.1477777777777778; } }
@media screen and (min-width: 1034px) { body { zoom: 1.1488888888888888; } }
@media screen and (min-width: 1035px) { body { zoom: 1.15; } }
@media screen and (min-width: 1036px) { body { zoom: 1.1511111111111112; } }
@media screen and (min-width: 1037px) { body { zoom: 1.1522222222222223; } }
@media screen and (min-width: 1038px) { body { zoom: 1.1533333333333333; } }
@media screen and (min-width: 1039px) { body { zoom: 1.1544444444444444; } }
@media screen and (min-width: 1040px) { body { zoom: 1.1555555555555554; } }
@media screen and (min-width: 1041px) { body { zoom: 1.1566666666666667; } }
@media screen and (min-width: 1042px) { body { zoom: 1.1577777777777778; } }
@media screen and (min-width: 1043px) { body { zoom: 1.1588888888888889; } }
@media screen and (min-width: 1044px) { body { zoom: 1.16; } }
@media screen and (min-width: 1045px) { body { zoom: 1.1611111111111112; } }
@media screen and (min-width: 1046px) { body { zoom: 1.1622222222222223; } }
@media screen and (min-width: 1047px) { body { zoom: 1.1633333333333333; } }
@media screen and (min-width: 1048px) { body { zoom: 1.1644444444444444; } }
@media screen and (min-width: 1049px) { body { zoom: 1.1655555555555555; } }
@media screen and (min-width: 1050px) { body { zoom: 1.1666666666666667; } }
@media screen and (min-width: 1051px) { body { zoom: 1.1677777777777778; } }
@media screen and (min-width: 1052px) { body { zoom: 1.1688888888888889; } }
@media screen and (min-width: 1053px) { body { zoom: 1.17; } }
@media screen and (min-width: 1054px) { body { zoom: 1.1711111111111112; } }
@media screen and (min-width: 1055px) { body { zoom: 1.1722222222222223; } }
@media screen and (min-width: 1056px) { body { zoom: 1.1733333333333333; } }
@media screen and (min-width: 1057px) { body { zoom: 1.1744444444444444; } }
@media screen and (min-width: 1058px) { body { zoom: 1.1755555555555555; } }
@media screen and (min-width: 1059px) { body { zoom: 1.1766666666666667; } }
@media screen and (min-width: 1060px) { body { zoom: 1.1777777777777778; } }
@media screen and (min-width: 1061px) { body { zoom: 1.1788888888888889; } }
@media screen and (min-width: 1062px) { body { zoom: 1.18; } }
@media screen and (min-width: 1063px) { body { zoom: 1.181111111111111; } }
@media screen and (min-width: 1064px) { body { zoom: 1.1822222222222223; } }
@media screen and (min-width: 1065px) { body { zoom: 1.1833333333333333; } }
@media screen and (min-width: 1066px) { body { zoom: 1.1844444444444444; } }
@media screen and (min-width: 1067px) { body { zoom: 1.1855555555555555; } }
@media screen and (min-width: 1068px) { body { zoom: 1.1866666666666668; } }
@media screen and (min-width: 1069px) { body { zoom: 1.1877777777777778; } }
@media screen and (min-width: 1070px) { body { zoom: 1.1888888888888889; } }
@media screen and (min-width: 1071px) { body { zoom: 1.19; } }
@media screen and (min-width: 1072px) { body { zoom: 1.191111111111111; } }
@media screen and (min-width: 1073px) { body { zoom: 1.1922222222222223; } }
@media screen and (min-width: 1074px) { body { zoom: 1.1933333333333334; } }
@media screen and (min-width: 1075px) { body { zoom: 1.1944444444444444; } }
@media screen and (min-width: 1076px) { body { zoom: 1.1955555555555555; } }
@media screen and (min-width: 1077px) { body { zoom: 1.1966666666666668; } }
@media screen and (min-width: 1078px) { body { zoom: 1.1977777777777778; } }
@media screen and (min-width: 1079px) { body { zoom: 1.198888888888889; } }
@media screen and (min-width: 1080px) { body { zoom: 1.2; } }
@media screen and (min-width: 1081px) { body { zoom: 1.201111111111111; } }
@media screen and (min-width: 1082px) { body { zoom: 1.2022222222222223; } }
@media screen and (min-width: 1083px) { body { zoom: 1.2033333333333334; } }
@media screen and (min-width: 1084px) { body { zoom: 1.2044444444444444; } }
@media screen and (min-width: 1085px) { body { zoom: 1.2055555555555555; } }
@media screen and (min-width: 1086px) { body { zoom: 1.2066666666666668; } }
@media screen and (min-width: 1087px) { body { zoom: 1.2077777777777778; } }
@media screen and (min-width: 1088px) { body { zoom: 1.208888888888889; } }
@media screen and (min-width: 1089px) { body { zoom: 1.21; } }
@media screen and (min-width: 1090px) { body { zoom: 1.211111111111111; } }
@media screen and (min-width: 1091px) { body { zoom: 1.2122222222222223; } }
@media screen and (min-width: 1092px) { body { zoom: 1.2133333333333334; } }
@media screen and (min-width: 1093px) { body { zoom: 1.2144444444444444; } }
@media screen and (min-width: 1094px) { body { zoom: 1.2155555555555555; } }
@media screen and (min-width: 1095px) { body { zoom: 1.2166666666666666; } }
@media screen and (min-width: 1096px) { body { zoom: 1.2177777777777778; } }
@media screen and (min-width: 1097px) { body { zoom: 1.218888888888889; } }
@media screen and (min-width: 1098px) { body { zoom: 1.22; } }
@media screen and (min-width: 1099px) { body { zoom: 1.221111111111111; } }
@media screen and (min-width: 1100px) { body { zoom: 1.2222222222222223; } }
@media screen and (min-width: 1101px) { body { zoom: 1.2233333333333334; } }
@media screen and (min-width: 1102px) { body { zoom: 1.2244444444444444; } }
@media screen and (min-width: 1103px) { body { zoom: 1.2255555555555555; } }
@media screen and (min-width: 1104px) { body { zoom: 1.2266666666666666; } }
@media screen and (min-width: 1105px) { body { zoom: 1.2277777777777779; } }
@media screen and (min-width: 1106px) { body { zoom: 1.228888888888889; } }
@media screen and (min-width: 1107px) { body { zoom: 1.23; } }
@media screen and (min-width: 1108px) { body { zoom: 1.231111111111111; } }
@media screen and (min-width: 1109px) { body { zoom: 1.2322222222222223; } }
@media screen and (min-width: 1110px) { body { zoom: 1.2333333333333334; } }
@media screen and (min-width: 1111px) { body { zoom: 1.2344444444444445; } }
@media screen and (min-width: 1112px) { body { zoom: 1.2355555555555555; } }
@media screen and (min-width: 1113px) { body { zoom: 1.2366666666666666; } }
@media screen and (min-width: 1114px) { body { zoom: 1.2377777777777779; } }
@media screen and (min-width: 1115px) { body { zoom: 1.238888888888889; } }
@media screen and (min-width: 1116px) { body { zoom: 1.24; } }
@media screen and (min-width: 1117px) { body { zoom: 1.241111111111111; } }
@media screen and (min-width: 1118px) { body { zoom: 1.2422222222222221; } }
@media screen and (min-width: 1119px) { body { zoom: 1.2433333333333334; } }
@media screen and (min-width: 1120px) { body { zoom: 1.2444444444444445; } }
@media screen and (min-width: 1121px) { body { zoom: 1.2455555555555555; } }
@media screen and (min-width: 1122px) { body { zoom: 1.2466666666666666; } }
@media screen and (min-width: 1123px) { body { zoom: 1.2477777777777779; } }
@media screen and (min-width: 1124px) { body { zoom: 1.248888888888889; } }
@media screen and (min-width: 1125px) { body { zoom: 1.25; } }
@media screen and (min-width: 1126px) { body { zoom: 1.251111111111111; } }
@media screen and (min-width: 1127px) { body { zoom: 1.2522222222222221; } }
@media screen and (min-width: 1128px) { body { zoom: 1.2533333333333334; } }
@media screen and (min-width: 1129px) { body { zoom: 1.2544444444444445; } }
@media screen and (min-width: 1130px) { body { zoom: 1.2555555555555555; } }
@media screen and (min-width: 1131px) { body { zoom: 1.2566666666666666; } }
@media screen and (min-width: 1132px) { body { zoom: 1.2577777777777779; } }
@media screen and (min-width: 1133px) { body { zoom: 1.258888888888889; } }
@media screen and (min-width: 1134px) { body { zoom: 1.26; } }
@media screen and (min-width: 1135px) { body { zoom: 1.261111111111111; } }
@media screen and (min-width: 1136px) { body { zoom: 1.2622222222222221; } }
@media screen and (min-width: 1137px) { body { zoom: 1.2633333333333334; } }
@media screen and (min-width: 1138px) { body { zoom: 1.2644444444444445; } }
@media screen and (min-width: 1139px) { body { zoom: 1.2655555555555555; } }
@media screen and (min-width: 1140px) { body { zoom: 1.2666666666666666; } }
@media screen and (min-width: 1141px) { body { zoom: 1.2677777777777777; } }
@media screen and (min-width: 1142px) { body { zoom: 1.268888888888889; } }
@media screen and (min-width: 1143px) { body { zoom: 1.27; } }
@media screen and (min-width: 1144px) { body { zoom: 1.271111111111111; } }
@media screen and (min-width: 1145px) { body { zoom: 1.2722222222222221; } }
@media screen and (min-width: 1146px) { body { zoom: 1.2733333333333334; } }
@media screen and (min-width: 1147px) { body { zoom: 1.2744444444444445; } }
@media screen and (min-width: 1148px) { body { zoom: 1.2755555555555556; } }
@media screen and (min-width: 1149px) { body { zoom: 1.2766666666666666; } }
@media screen and (min-width: 1150px) { body { zoom: 1.2777777777777777; } }
@media screen and (min-width: 1151px) { body { zoom: 1.278888888888889; } }
@media screen and (min-width: 1152px) { body { zoom: 1.28; } }
@media screen and (min-width: 1153px) { body { zoom: 1.281111111111111; } }
@media screen and (min-width: 1154px) { body { zoom: 1.2822222222222222; } }
@media screen and (min-width: 1155px) { body { zoom: 1.2833333333333334; } }
@media screen and (min-width: 1156px) { body { zoom: 1.2844444444444445; } }
@media screen and (min-width: 1157px) { body { zoom: 1.2855555555555556; } }
@media screen and (min-width: 1158px) { body { zoom: 1.2866666666666666; } }
@media screen and (min-width: 1159px) { body { zoom: 1.2877777777777777; } }
@media screen and (min-width: 1160px) { body { zoom: 1.288888888888889; } }
@media screen and (min-width: 1161px) { body { zoom: 1.29; } }
@media screen and (min-width: 1162px) { body { zoom: 1.291111111111111; } }
@media screen and (min-width: 1163px) { body { zoom: 1.2922222222222222; } }
@media screen and (min-width: 1164px) { body { zoom: 1.2933333333333332; } }
@media screen and (min-width: 1165px) { body { zoom: 1.2944444444444445; } }
@media screen and (min-width: 1166px) { body { zoom: 1.2955555555555556; } }
@media screen and (min-width: 1167px) { body { zoom: 1.2966666666666666; } }
@media screen and (min-width: 1168px) { body { zoom: 1.2977777777777777; } }
@media screen and (min-width: 1169px) { body { zoom: 1.298888888888889; } }
@media screen and (min-width: 1170px) { body { zoom: 1.3; } }
@media screen and (min-width: 1171px) { body { zoom: 1.301111111111111; } }
@media screen and (min-width: 1172px) { body { zoom: 1.3022222222222222; } }
@media screen and (min-width: 1173px) { body { zoom: 1.3033333333333332; } }
@media screen and (min-width: 1174px) { body { zoom: 1.3044444444444445; } }
@media screen and (min-width: 1175px) { body { zoom: 1.3055555555555556; } }
@media screen and (min-width: 1176px) { body { zoom: 1.3066666666666666; } }
@media screen and (min-width: 1177px) { body { zoom: 1.3077777777777777; } }
@media screen and (min-width: 1178px) { body { zoom: 1.308888888888889; } }
@media screen and (min-width: 1179px) { body { zoom: 1.31; } }
@media screen and (min-width: 1180px) { body { zoom: 1.3111111111111111; } }
@media screen and (min-width: 1181px) { body { zoom: 1.3122222222222222; } }
@media screen and (min-width: 1182px) { body { zoom: 1.3133333333333332; } }
@media screen and (min-width: 1183px) { body { zoom: 1.3144444444444445; } }
@media screen and (min-width: 1184px) { body { zoom: 1.3155555555555556; } }
@media screen and (min-width: 1185px) { body { zoom: 1.3166666666666667; } }
@media screen and (min-width: 1186px) { body { zoom: 1.3177777777777777; } }
@media screen and (min-width: 1187px) { body { zoom: 1.318888888888889; } }
@media screen and (min-width: 1188px) { body { zoom: 1.32; } }
@media screen and (min-width: 1189px) { body { zoom: 1.3211111111111111; } }
@media screen and (min-width: 1190px) { body { zoom: 1.3222222222222222; } }
@media screen and (min-width: 1191px) { body { zoom: 1.3233333333333333; } }
@media screen and (min-width: 1192px) { body { zoom: 1.3244444444444445; } }
@media screen and (min-width: 1193px) { body { zoom: 1.3255555555555556; } }
@media screen and (min-width: 1194px) { body { zoom: 1.3266666666666667; } }
@media screen and (min-width: 1195px) { body { zoom: 1.3277777777777777; } }
@media screen and (min-width: 1196px) { body { zoom: 1.3288888888888888; } }
@media screen and (min-width: 1197px) { body { zoom: 1.33; } }
@media screen and (min-width: 1198px) { body { zoom: 1.3311111111111111; } }
@media screen and (min-width: 1199px) { body { zoom: 1.3322222222222222; } }
@media screen and (min-width: 1200px) { body { zoom: 1.3333333333333333; } }
@media screen and (min-width: 1201px) { body { zoom: 1.3344444444444445; } }
@media screen and (min-width: 1202px) { body { zoom: 1.3355555555555556; } }
@media screen and (min-width: 1203px) { body { zoom: 1.3366666666666667; } }
@media screen and (min-width: 1204px) { body { zoom: 1.3377777777777777; } }
@media screen and (min-width: 1205px) { body { zoom: 1.3388888888888888; } }
@media screen and (min-width: 1206px) { body { zoom: 1.34; } }
@media screen and (min-width: 1207px) { body { zoom: 1.3411111111111111; } }
@media screen and (min-width: 1208px) { body { zoom: 1.3422222222222222; } }
@media screen and (min-width: 1209px) { body { zoom: 1.3433333333333333; } }
@media screen and (min-width: 1210px) { body { zoom: 1.3444444444444446; } }
@media screen and (min-width: 1211px) { body { zoom: 1.3455555555555556; } }
@media screen and (min-width: 1212px) { body { zoom: 1.3466666666666667; } }
@media screen and (min-width: 1213px) { body { zoom: 1.3477777777777777; } }
@media screen and (min-width: 1214px) { body { zoom: 1.3488888888888888; } }
@media screen and (min-width: 1215px) { body { zoom: 1.35; } }
@media screen and (min-width: 1216px) { body { zoom: 1.3511111111111112; } }
@media screen and (min-width: 1217px) { body { zoom: 1.3522222222222222; } }
@media screen and (min-width: 1218px) { body { zoom: 1.3533333333333333; } }
@media screen and (min-width: 1219px) { body { zoom: 1.3544444444444443; } }
@media screen and (min-width: 1220px) { body { zoom: 1.3555555555555556; } }
@media screen and (min-width: 1221px) { body { zoom: 1.3566666666666667; } }
@media screen and (min-width: 1222px) { body { zoom: 1.3577777777777778; } }
@media screen and (min-width: 1223px) { body { zoom: 1.3588888888888888; } }
@media screen and (min-width: 1224px) { body { zoom: 1.36; } }
@media screen and (min-width: 1225px) { body { zoom: 1.3611111111111112; } }
@media screen and (min-width: 1226px) { body { zoom: 1.3622222222222222; } }
@media screen and (min-width: 1227px) { body { zoom: 1.3633333333333333; } }
@media screen and (min-width: 1228px) { body { zoom: 1.3644444444444443; } }
@media screen and (min-width: 1229px) { body { zoom: 1.3655555555555556; } }
@media screen and (min-width: 1230px) { body { zoom: 1.3666666666666667; } }
@media screen and (min-width: 1231px) { body { zoom: 1.3677777777777778; } }
@media screen and (min-width: 1232px) { body { zoom: 1.3688888888888888; } }
@media screen and (min-width: 1233px) { body { zoom: 1.37; } }
@media screen and (min-width: 1234px) { body { zoom: 1.3711111111111112; } }
@media screen and (min-width: 1235px) { body { zoom: 1.3722222222222222; } }
@media screen and (min-width: 1236px) { body { zoom: 1.3733333333333333; } }
@media screen and (min-width: 1237px) { body { zoom: 1.3744444444444444; } }
@media screen and (min-width: 1238px) { body { zoom: 1.3755555555555556; } }
@media screen and (min-width: 1239px) { body { zoom: 1.3766666666666667; } }
@media screen and (min-width: 1240px) { body { zoom: 1.3777777777777778; } }
@media screen and (min-width: 1241px) { body { zoom: 1.3788888888888888; } }
@media screen and (min-width: 1242px) { body { zoom: 1.38; } }
@media screen and (min-width: 1243px) { body { zoom: 1.3811111111111112; } }
@media screen and (min-width: 1244px) { body { zoom: 1.3822222222222222; } }
@media screen and (min-width: 1245px) { body { zoom: 1.3833333333333333; } }
@media screen and (min-width: 1246px) { body { zoom: 1.3844444444444444; } }
@media screen and (min-width: 1247px) { body { zoom: 1.3855555555555557; } }
@media screen and (min-width: 1248px) { body { zoom: 1.3866666666666667; } }
@media screen and (min-width: 1249px) { body { zoom: 1.3877777777777778; } }
@media screen and (min-width: 1250px) { body { zoom: 1.3888888888888888; } }
@media screen and (min-width: 1251px) { body { zoom: 1.39; } }
@media screen and (min-width: 1252px) { body { zoom: 1.3911111111111112; } }
@media screen and (min-width: 1253px) { body { zoom: 1.3922222222222222; } }
@media screen and (min-width: 1254px) { body { zoom: 1.3933333333333333; } }
@media screen and (min-width: 1255px) { body { zoom: 1.3944444444444444; } }
@media screen and (min-width: 1256px) { body { zoom: 1.3955555555555557; } }
@media screen and (min-width: 1257px) { body { zoom: 1.3966666666666667; } }
@media screen and (min-width: 1258px) { body { zoom: 1.3977777777777778; } }
@media screen and (min-width: 1259px) { body { zoom: 1.3988888888888888; } }
@media screen and (min-width: 1260px) { body { zoom: 1.4; } }
@media screen and (min-width: 1261px) { body { zoom: 1.4011111111111112; } }
@media screen and (min-width: 1262px) { body { zoom: 1.4022222222222223; } }
@media screen and (min-width: 1263px) { body { zoom: 1.4033333333333333; } }
@media screen and (min-width: 1264px) { body { zoom: 1.4044444444444444; } }
@media screen and (min-width: 1265px) { body { zoom: 1.4055555555555554; } }
@media screen and (min-width: 1266px) { body { zoom: 1.4066666666666667; } }
@media screen and (min-width: 1267px) { body { zoom: 1.4077777777777778; } }
@media screen and (min-width: 1268px) { body { zoom: 1.4088888888888889; } }
@media screen and (min-width: 1269px) { body { zoom: 1.41; } }
@media screen and (min-width: 1270px) { body { zoom: 1.4111111111111112; } }
@media screen and (min-width: 1271px) { body { zoom: 1.4122222222222223; } }
@media screen and (min-width: 1272px) { body { zoom: 1.4133333333333333; } }
@media screen and (min-width: 1273px) { body { zoom: 1.4144444444444444; } }
@media screen and (min-width: 1274px) { body { zoom: 1.4155555555555555; } }
@media screen and (min-width: 1275px) { body { zoom: 1.4166666666666667; } }
@media screen and (min-width: 1276px) { body { zoom: 1.4177777777777778; } }
@media screen and (min-width: 1277px) { body { zoom: 1.4188888888888889; } }
@media screen and (min-width: 1278px) { body { zoom: 1.42; } }
@media screen and (min-width: 1279px) { body { zoom: 1.4211111111111112; } }
@media screen and (min-width: 1280px) { body { zoom: 1.4222222222222223; } }
@media screen and (min-width: 1281px) { body { zoom: 1.4233333333333333; } }
@media screen and (min-width: 1282px) { body { zoom: 1.4244444444444444; } }
@media screen and (min-width: 1283px) { body { zoom: 1.4255555555555555; } }
@media screen and (min-width: 1284px) { body { zoom: 1.4266666666666667; } }
@media screen and (min-width: 1285px) { body { zoom: 1.4277777777777778; } }
@media screen and (min-width: 1286px) { body { zoom: 1.4288888888888889; } }
@media screen and (min-width: 1287px) { body { zoom: 1.43; } }
@media screen and (min-width: 1288px) { body { zoom: 1.431111111111111; } }
@media screen and (min-width: 1289px) { body { zoom: 1.4322222222222223; } }
@media screen and (min-width: 1290px) { body { zoom: 1.4333333333333333; } }
@media screen and (min-width: 1291px) { body { zoom: 1.4344444444444444; } }
@media screen and (min-width: 1292px) { body { zoom: 1.4355555555555555; } }
@media screen and (min-width: 1293px) { body { zoom: 1.4366666666666668; } }
@media screen and (min-width: 1294px) { body { zoom: 1.4377777777777778; } }
@media screen and (min-width: 1295px) { body { zoom: 1.4388888888888889; } }
@media screen and (min-width: 1296px) { body { zoom: 1.44; } }
@media screen and (min-width: 1297px) { body { zoom: 1.441111111111111; } }
@media screen and (min-width: 1298px) { body { zoom: 1.4422222222222223; } }
@media screen and (min-width: 1299px) { body { zoom: 1.4433333333333334; } }
@media screen and (min-width: 1300px) { body { zoom: 1.4444444444444444; } }
@media screen and (min-width: 1301px) { body { zoom: 1.4455555555555555; } }
@media screen and (min-width: 1302px) { body { zoom: 1.4466666666666668; } }
@media screen and (min-width: 1303px) { body { zoom: 1.4477777777777778; } }
@media screen and (min-width: 1304px) { body { zoom: 1.448888888888889; } }
@media screen and (min-width: 1305px) { body { zoom: 1.45; } }
@media screen and (min-width: 1306px) { body { zoom: 1.451111111111111; } }
@media screen and (min-width: 1307px) { body { zoom: 1.4522222222222223; } }
@media screen and (min-width: 1308px) { body { zoom: 1.4533333333333334; } }
@media screen and (min-width: 1309px) { body { zoom: 1.4544444444444444; } }
@media screen and (min-width: 1310px) { body { zoom: 1.4555555555555555; } }
@media screen and (min-width: 1311px) { body { zoom: 1.4566666666666668; } }
@media screen and (min-width: 1312px) { body { zoom: 1.4577777777777778; } }
@media screen and (min-width: 1313px) { body { zoom: 1.458888888888889; } }
@media screen and (min-width: 1314px) { body { zoom: 1.46; } }
@media screen and (min-width: 1315px) { body { zoom: 1.461111111111111; } }
@media screen and (min-width: 1316px) { body { zoom: 1.4622222222222223; } }
@media screen and (min-width: 1317px) { body { zoom: 1.4633333333333334; } }
@media screen and (min-width: 1318px) { body { zoom: 1.4644444444444444; } }
@media screen and (min-width: 1319px) { body { zoom: 1.4655555555555555; } }
@media screen and (min-width: 1320px) { body { zoom: 1.4666666666666666; } }
@media screen and (min-width: 1321px) { body { zoom: 1.4677777777777778; } }
@media screen and (min-width: 1322px) { body { zoom: 1.468888888888889; } }
@media screen and (min-width: 1323px) { body { zoom: 1.47; } }
@media screen and (min-width: 1324px) { body { zoom: 1.471111111111111; } }
@media screen and (min-width: 1325px) { body { zoom: 1.4722222222222223; } }
@media screen and (min-width: 1326px) { body { zoom: 1.4733333333333334; } }
@media screen and (min-width: 1327px) { body { zoom: 1.4744444444444444; } }
@media screen and (min-width: 1328px) { body { zoom: 1.4755555555555555; } }
@media screen and (min-width: 1329px) { body { zoom: 1.4766666666666666; } }
@media screen and (min-width: 1330px) { body { zoom: 1.4777777777777779; } }
@media screen and (min-width: 1331px) { body { zoom: 1.478888888888889; } }
@media screen and (min-width: 1332px) { body { zoom: 1.48; } }
@media screen and (min-width: 1333px) { body { zoom: 1.481111111111111; } }
@media screen and (min-width: 1334px) { body { zoom: 1.4822222222222223; } }
@media screen and (min-width: 1335px) { body { zoom: 1.4833333333333334; } }
@media screen and (min-width: 1336px) { body { zoom: 1.4844444444444445; } }
@media screen and (min-width: 1337px) { body { zoom: 1.4855555555555555; } }
@media screen and (min-width: 1338px) { body { zoom: 1.4866666666666666; } }
@media screen and (min-width: 1339px) { body { zoom: 1.4877777777777779; } }
@media screen and (min-width: 1340px) { body { zoom: 1.488888888888889; } }
@media screen and (min-width: 1341px) { body { zoom: 1.49; } }
@media screen and (min-width: 1342px) { body { zoom: 1.491111111111111; } }
@media screen and (min-width: 1343px) { body { zoom: 1.4922222222222221; } }
@media screen and (min-width: 1344px) { body { zoom: 1.4933333333333334; } }
@media screen and (min-width: 1345px) { body { zoom: 1.4944444444444445; } }
@media screen and (min-width: 1346px) { body { zoom: 1.4955555555555555; } }
@media screen and (min-width: 1347px) { body { zoom: 1.4966666666666666; } }
@media screen and (min-width: 1348px) { body { zoom: 1.4977777777777779; } }
@media screen and (min-width: 1349px) { body { zoom: 1.498888888888889; } }
@media screen and (min-width: 1350px) { body { zoom: 1.5; } }
@media screen and (min-width: 1351px) { body { zoom: 1.501111111111111; } }
@media screen and (min-width: 1352px) { body { zoom: 1.5022222222222221; } }
@media screen and (min-width: 1353px) { body { zoom: 1.5033333333333334; } }
@media screen and (min-width: 1354px) { body { zoom: 1.5044444444444445; } }
@media screen and (min-width: 1355px) { body { zoom: 1.5055555555555555; } }
@media screen and (min-width: 1356px) { body { zoom: 1.5066666666666666; } }
@media screen and (min-width: 1357px) { body { zoom: 1.5077777777777779; } }
@media screen and (min-width: 1358px) { body { zoom: 1.508888888888889; } }
@media screen and (min-width: 1359px) { body { zoom: 1.51; } }
@media screen and (min-width: 1360px) { body { zoom: 1.511111111111111; } }
@media screen and (min-width: 1361px) { body { zoom: 1.5122222222222221; } }
@media screen and (min-width: 1362px) { body { zoom: 1.5133333333333334; } }
@media screen and (min-width: 1363px) { body { zoom: 1.5144444444444445; } }
@media screen and (min-width: 1364px) { body { zoom: 1.5155555555555555; } }
@media screen and (min-width: 1365px) { body { zoom: 1.5166666666666666; } }
@media screen and (min-width: 1366px) { body { zoom: 1.5177777777777777; } }
@media screen and (min-width: 1367px) { body { zoom: 1.518888888888889; } }
@media screen and (min-width: 1368px) { body { zoom: 1.52; } }
@media screen and (min-width: 1369px) { body { zoom: 1.521111111111111; } }
@media screen and (min-width: 1370px) { body { zoom: 1.5222222222222221; } }
@media screen and (min-width: 1371px) { body { zoom: 1.5233333333333334; } }
@media screen and (min-width: 1372px) { body { zoom: 1.5244444444444445; } }
@media screen and (min-width: 1373px) { body { zoom: 1.5255555555555556; } }
@media screen and (min-width: 1374px) { body { zoom: 1.5266666666666666; } }
@media screen and (min-width: 1375px) { body { zoom: 1.5277777777777777; } }
@media screen and (min-width: 1376px) { body { zoom: 1.528888888888889; } }
@media screen and (min-width: 1377px) { body { zoom: 1.53; } }
@media screen and (min-width: 1378px) { body { zoom: 1.531111111111111; } }
@media screen and (min-width: 1379px) { body { zoom: 1.5322222222222222; } }
@media screen and (min-width: 1380px) { body { zoom: 1.5333333333333334; } }
@media screen and (min-width: 1381px) { body { zoom: 1.5344444444444445; } }
@media screen and (min-width: 1382px) { body { zoom: 1.5355555555555556; } }
@media screen and (min-width: 1383px) { body { zoom: 1.5366666666666666; } }
@media screen and (min-width: 1384px) { body { zoom: 1.5377777777777777; } }
@media screen and (min-width: 1385px) { body { zoom: 1.538888888888889; } }
@media screen and (min-width: 1386px) { body { zoom: 1.54; } }
@media screen and (min-width: 1387px) { body { zoom: 1.541111111111111; } }
@media screen and (min-width: 1388px) { body { zoom: 1.5422222222222222; } }
@media screen and (min-width: 1389px) { body { zoom: 1.5433333333333332; } }
@media screen and (min-width: 1390px) { body { zoom: 1.5444444444444445; } }
@media screen and (min-width: 1391px) { body { zoom: 1.5455555555555556; } }
@media screen and (min-width: 1392px) { body { zoom: 1.5466666666666666; } }
@media screen and (min-width: 1393px) { body { zoom: 1.5477777777777777; } }
@media screen and (min-width: 1394px) { body { zoom: 1.548888888888889; } }
@media screen and (min-width: 1395px) { body { zoom: 1.55; } }
@media screen and (min-width: 1396px) { body { zoom: 1.551111111111111; } }
@media screen and (min-width: 1397px) { body { zoom: 1.5522222222222222; } }
@media screen and (min-width: 1398px) { body { zoom: 1.5533333333333332; } }
@media screen and (min-width: 1399px) { body { zoom: 1.5544444444444445; } }
@media screen and (min-width: 1400px) { body { zoom: 1.5555555555555556; } }
@media screen and (min-width: 1401px) { body { zoom: 1.5566666666666666; } }
@media screen and (min-width: 1402px) { body { zoom: 1.5577777777777777; } }
@media screen and (min-width: 1403px) { body { zoom: 1.558888888888889; } }
@media screen and (min-width: 1404px) { body { zoom: 1.56; } }
@media screen and (min-width: 1405px) { body { zoom: 1.5611111111111111; } }
@media screen and (min-width: 1406px) { body { zoom: 1.5622222222222222; } }
@media screen and (min-width: 1407px) { body { zoom: 1.5633333333333332; } }
@media screen and (min-width: 1408px) { body { zoom: 1.5644444444444445; } }
@media screen and (min-width: 1409px) { body { zoom: 1.5655555555555556; } }
@media screen and (min-width: 1410px) { body { zoom: 1.5666666666666667; } }
@media screen and (min-width: 1411px) { body { zoom: 1.5677777777777777; } }
@media screen and (min-width: 1412px) { body { zoom: 1.568888888888889; } }
@media screen and (min-width: 1413px) { body { zoom: 1.57; } }
@media screen and (min-width: 1414px) { body { zoom: 1.5711111111111111; } }
@media screen and (min-width: 1415px) { body { zoom: 1.5722222222222222; } }
@media screen and (min-width: 1416px) { body { zoom: 1.5733333333333333; } }
@media screen and (min-width: 1417px) { body { zoom: 1.5744444444444445; } }
@media screen and (min-width: 1418px) { body { zoom: 1.5755555555555556; } }
@media screen and (min-width: 1419px) { body { zoom: 1.5766666666666667; } }
@media screen and (min-width: 1420px) { body { zoom: 1.5777777777777777; } }
@media screen and (min-width: 1421px) { body { zoom: 1.5788888888888888; } }
@media screen and (min-width: 1422px) { body { zoom: 1.58; } }
@media screen and (min-width: 1423px) { body { zoom: 1.5811111111111111; } }
@media screen and (min-width: 1424px) { body { zoom: 1.5822222222222222; } }
@media screen and (min-width: 1425px) { body { zoom: 1.5833333333333333; } }
@media screen and (min-width: 1426px) { body { zoom: 1.5844444444444445; } }
@media screen and (min-width: 1427px) { body { zoom: 1.5855555555555556; } }
@media screen and (min-width: 1428px) { body { zoom: 1.5866666666666667; } }
@media screen and (min-width: 1429px) { body { zoom: 1.5877777777777777; } }
@media screen and (min-width: 1430px) { body { zoom: 1.5888888888888888; } }
@media screen and (min-width: 1431px) { body { zoom: 1.59; } }
@media screen and (min-width: 1432px) { body { zoom: 1.5911111111111111; } }
@media screen and (min-width: 1433px) { body { zoom: 1.5922222222222222; } }
@media screen and (min-width: 1434px) { body { zoom: 1.5933333333333333; } }
@media screen and (min-width: 1435px) { body { zoom: 1.5944444444444446; } }
@media screen and (min-width: 1436px) { body { zoom: 1.5955555555555556; } }
@media screen and (min-width: 1437px) { body { zoom: 1.5966666666666667; } }
@media screen and (min-width: 1438px) { body { zoom: 1.5977777777777777; } }
@media screen and (min-width: 1439px) { body { zoom: 1.5988888888888888; } }
@media screen and (min-width: 1440px) { body { zoom: 1.6; } }
@media screen and (min-width: 1441px) { body { zoom: 1.6011111111111112; } }
@media screen and (min-width: 1442px) { body { zoom: 1.6022222222222222; } }
@media screen and (min-width: 1443px) { body { zoom: 1.6033333333333333; } }
@media screen and (min-width: 1444px) { body { zoom: 1.6044444444444443; } }
@media screen and (min-width: 1445px) { body { zoom: 1.6055555555555556; } }
@media screen and (min-width: 1446px) { body { zoom: 1.6066666666666667; } }
@media screen and (min-width: 1447px) { body { zoom: 1.6077777777777778; } }
@media screen and (min-width: 1448px) { body { zoom: 1.6088888888888888; } }
@media screen and (min-width: 1449px) { body { zoom: 1.61; } }
@media screen and (min-width: 1450px) { body { zoom: 1.6111111111111112; } }
@media screen and (min-width: 1451px) { body { zoom: 1.6122222222222222; } }
@media screen and (min-width: 1452px) { body { zoom: 1.6133333333333333; } }
@media screen and (min-width: 1453px) { body { zoom: 1.6144444444444443; } }
@media screen and (min-width: 1454px) { body { zoom: 1.6155555555555556; } }
@media screen and (min-width: 1455px) { body { zoom: 1.6166666666666667; } }
@media screen and (min-width: 1456px) { body { zoom: 1.6177777777777778; } }
@media screen and (min-width: 1457px) { body { zoom: 1.6188888888888888; } }
@media screen and (min-width: 1458px) { body { zoom: 1.62; } }
@media screen and (min-width: 1459px) { body { zoom: 1.6211111111111112; } }
@media screen and (min-width: 1460px) { body { zoom: 1.6222222222222222; } }
@media screen and (min-width: 1461px) { body { zoom: 1.6233333333333333; } }
@media screen and (min-width: 1462px) { body { zoom: 1.6244444444444444; } }
@media screen and (min-width: 1463px) { body { zoom: 1.6255555555555556; } }
@media screen and (min-width: 1464px) { body { zoom: 1.6266666666666667; } }
@media screen and (min-width: 1465px) { body { zoom: 1.6277777777777778; } }
@media screen and (min-width: 1466px) { body { zoom: 1.6288888888888888; } }
@media screen and (min-width: 1467px) { body { zoom: 1.63; } }
@media screen and (min-width: 1468px) { body { zoom: 1.6311111111111112; } }
@media screen and (min-width: 1469px) { body { zoom: 1.6322222222222222; } }
@media screen and (min-width: 1470px) { body { zoom: 1.6333333333333333; } }
@media screen and (min-width: 1471px) { body { zoom: 1.6344444444444444; } }
@media screen and (min-width: 1472px) { body { zoom: 1.6355555555555557; } }
@media screen and (min-width: 1473px) { body { zoom: 1.6366666666666667; } }
@media screen and (min-width: 1474px) { body { zoom: 1.6377777777777778; } }
@media screen and (min-width: 1475px) { body { zoom: 1.6388888888888888; } }
@media screen and (min-width: 1476px) { body { zoom: 1.64; } }
@media screen and (min-width: 1477px) { body { zoom: 1.6411111111111112; } }
@media screen and (min-width: 1478px) { body { zoom: 1.6422222222222222; } }
@media screen and (min-width: 1479px) { body { zoom: 1.6433333333333333; } }
@media screen and (min-width: 1480px) { body { zoom: 1.6444444444444444; } }
@media screen and (min-width: 1481px) { body { zoom: 1.6455555555555557; } }
@media screen and (min-width: 1482px) { body { zoom: 1.6466666666666667; } }
@media screen and (min-width: 1483px) { body { zoom: 1.6477777777777778; } }
@media screen and (min-width: 1484px) { body { zoom: 1.6488888888888888; } }
@media screen and (min-width: 1485px) { body { zoom: 1.65; } }
@media screen and (min-width: 1486px) { body { zoom: 1.6511111111111112; } }
@media screen and (min-width: 1487px) { body { zoom: 1.6522222222222223; } }
@media screen and (min-width: 1488px) { body { zoom: 1.6533333333333333; } }
@media screen and (min-width: 1489px) { body { zoom: 1.6544444444444444; } }
@media screen and (min-width: 1490px) { body { zoom: 1.6555555555555554; } }
@media screen and (min-width: 1491px) { body { zoom: 1.6566666666666667; } }
@media screen and (min-width: 1492px) { body { zoom: 1.6577777777777778; } }
@media screen and (min-width: 1493px) { body { zoom: 1.6588888888888889; } }
@media screen and (min-width: 1494px) { body { zoom: 1.66; } }
@media screen and (min-width: 1495px) { body { zoom: 1.6611111111111112; } }
@media screen and (min-width: 1496px) { body { zoom: 1.6622222222222223; } }
@media screen and (min-width: 1497px) { body { zoom: 1.6633333333333333; } }
@media screen and (min-width: 1498px) { body { zoom: 1.6644444444444444; } }
@media screen and (min-width: 1499px) { body { zoom: 1.6655555555555555; } }
@media screen and (min-width: 1500px) { body { zoom: 1.6666666666666667; } }
@media screen and (min-width: 1501px) { body { zoom: 1.6677777777777778; } }
@media screen and (min-width: 1502px) { body { zoom: 1.6688888888888889; } }
@media screen and (min-width: 1503px) { body { zoom: 1.67; } }
@media screen and (min-width: 1504px) { body { zoom: 1.6711111111111112; } }
@media screen and (min-width: 1505px) { body { zoom: 1.6722222222222223; } }
@media screen and (min-width: 1506px) { body { zoom: 1.6733333333333333; } }
@media screen and (min-width: 1507px) { body { zoom: 1.6744444444444444; } }
@media screen and (min-width: 1508px) { body { zoom: 1.6755555555555555; } }
@media screen and (min-width: 1509px) { body { zoom: 1.6766666666666667; } }
@media screen and (min-width: 1510px) { body { zoom: 1.6777777777777778; } }
@media screen and (min-width: 1511px) { body { zoom: 1.6788888888888889; } }
@media screen and (min-width: 1512px) { body { zoom: 1.68; } }
@media screen and (min-width: 1513px) { body { zoom: 1.681111111111111; } }
@media screen and (min-width: 1514px) { body { zoom: 1.6822222222222223; } }
@media screen and (min-width: 1515px) { body { zoom: 1.6833333333333333; } }
@media screen and (min-width: 1516px) { body { zoom: 1.6844444444444444; } }
@media screen and (min-width: 1517px) { body { zoom: 1.6855555555555555; } }
@media screen and (min-width: 1518px) { body { zoom: 1.6866666666666668; } }
@media screen and (min-width: 1519px) { body { zoom: 1.6877777777777778; } }
@media screen and (min-width: 1520px) { body { zoom: 1.6888888888888889; } }
@media screen and (min-width: 1521px) { body { zoom: 1.69; } }
@media screen and (min-width: 1522px) { body { zoom: 1.691111111111111; } }
@media screen and (min-width: 1523px) { body { zoom: 1.6922222222222223; } }
@media screen and (min-width: 1524px) { body { zoom: 1.6933333333333334; } }
@media screen and (min-width: 1525px) { body { zoom: 1.6944444444444444; } }
@media screen and (min-width: 1526px) { body { zoom: 1.6955555555555555; } }
@media screen and (min-width: 1527px) { body { zoom: 1.6966666666666668; } }
@media screen and (min-width: 1528px) { body { zoom: 1.6977777777777778; } }
@media screen and (min-width: 1529px) { body { zoom: 1.698888888888889; } }
@media screen and (min-width: 1530px) { body { zoom: 1.7; } }
@media screen and (min-width: 1531px) { body { zoom: 1.701111111111111; } }
@media screen and (min-width: 1532px) { body { zoom: 1.7022222222222223; } }
@media screen and (min-width: 1533px) { body { zoom: 1.7033333333333334; } }
@media screen and (min-width: 1534px) { body { zoom: 1.7044444444444444; } }
@media screen and (min-width: 1535px) { body { zoom: 1.7055555555555555; } }
@media screen and (min-width: 1536px) { body { zoom: 1.7066666666666668; } }
@media screen and (min-width: 1537px) { body { zoom: 1.7077777777777778; } }
@media screen and (min-width: 1538px) { body { zoom: 1.708888888888889; } }
@media screen and (min-width: 1539px) { body { zoom: 1.71; } }
@media screen and (min-width: 1540px) { body { zoom: 1.711111111111111; } }
@media screen and (min-width: 1541px) { body { zoom: 1.7122222222222223; } }
@media screen and (min-width: 1542px) { body { zoom: 1.7133333333333334; } }
@media screen and (min-width: 1543px) { body { zoom: 1.7144444444444444; } }
@media screen and (min-width: 1544px) { body { zoom: 1.7155555555555555; } }
@media screen and (min-width: 1545px) { body { zoom: 1.7166666666666666; } }
@media screen and (min-width: 1546px) { body { zoom: 1.7177777777777778; } }
@media screen and (min-width: 1547px) { body { zoom: 1.718888888888889; } }
@media screen and (min-width: 1548px) { body { zoom: 1.72; } }
@media screen and (min-width: 1549px) { body { zoom: 1.721111111111111; } }
@media screen and (min-width: 1550px) { body { zoom: 1.7222222222222223; } }
@media screen and (min-width: 1551px) { body { zoom: 1.7233333333333334; } }
@media screen and (min-width: 1552px) { body { zoom: 1.7244444444444444; } }
@media screen and (min-width: 1553px) { body { zoom: 1.7255555555555555; } }
@media screen and (min-width: 1554px) { body { zoom: 1.7266666666666666; } }
@media screen and (min-width: 1555px) { body { zoom: 1.7277777777777779; } }
@media screen and (min-width: 1556px) { body { zoom: 1.728888888888889; } }
@media screen and (min-width: 1557px) { body { zoom: 1.73; } }
@media screen and (min-width: 1558px) { body { zoom: 1.731111111111111; } }
@media screen and (min-width: 1559px) { body { zoom: 1.7322222222222223; } }
@media screen and (min-width: 1560px) { body { zoom: 1.7333333333333334; } }
@media screen and (min-width: 1561px) { body { zoom: 1.7344444444444445; } }
@media screen and (min-width: 1562px) { body { zoom: 1.7355555555555555; } }
@media screen and (min-width: 1563px) { body { zoom: 1.7366666666666666; } }
@media screen and (min-width: 1564px) { body { zoom: 1.7377777777777779; } }
@media screen and (min-width: 1565px) { body { zoom: 1.738888888888889; } }
@media screen and (min-width: 1566px) { body { zoom: 1.74; } }
@media screen and (min-width: 1567px) { body { zoom: 1.741111111111111; } }
@media screen and (min-width: 1568px) { body { zoom: 1.7422222222222221; } }
@media screen and (min-width: 1569px) { body { zoom: 1.7433333333333334; } }
@media screen and (min-width: 1570px) { body { zoom: 1.7444444444444445; } }
@media screen and (min-width: 1571px) { body { zoom: 1.7455555555555555; } }
@media screen and (min-width: 1572px) { body { zoom: 1.7466666666666666; } }
@media screen and (min-width: 1573px) { body { zoom: 1.7477777777777779; } }
@media screen and (min-width: 1574px) { body { zoom: 1.748888888888889; } }
@media screen and (min-width: 1575px) { body { zoom: 1.75; } }
@media screen and (min-width: 1576px) { body { zoom: 1.751111111111111; } }
@media screen and (min-width: 1577px) { body { zoom: 1.7522222222222221; } }
@media screen and (min-width: 1578px) { body { zoom: 1.7533333333333334; } }
@media screen and (min-width: 1579px) { body { zoom: 1.7544444444444445; } }
@media screen and (min-width: 1580px) { body { zoom: 1.7555555555555555; } }
@media screen and (min-width: 1581px) { body { zoom: 1.7566666666666666; } }
@media screen and (min-width: 1582px) { body { zoom: 1.7577777777777779; } }
@media screen and (min-width: 1583px) { body { zoom: 1.758888888888889; } }
@media screen and (min-width: 1584px) { body { zoom: 1.76; } }
@media screen and (min-width: 1585px) { body { zoom: 1.761111111111111; } }
@media screen and (min-width: 1586px) { body { zoom: 1.7622222222222221; } }
@media screen and (min-width: 1587px) { body { zoom: 1.7633333333333334; } }
@media screen and (min-width: 1588px) { body { zoom: 1.7644444444444445; } }
@media screen and (min-width: 1589px) { body { zoom: 1.7655555555555555; } }
@media screen and (min-width: 1590px) { body { zoom: 1.7666666666666666; } }
@media screen and (min-width: 1591px) { body { zoom: 1.7677777777777777; } }
@media screen and (min-width: 1592px) { body { zoom: 1.768888888888889; } }
@media screen and (min-width: 1593px) { body { zoom: 1.77; } }
@media screen and (min-width: 1594px) { body { zoom: 1.771111111111111; } }
@media screen and (min-width: 1595px) { body { zoom: 1.7722222222222221; } }
@media screen and (min-width: 1596px) { body { zoom: 1.7733333333333334; } }
@media screen and (min-width: 1597px) { body { zoom: 1.7744444444444445; } }
@media screen and (min-width: 1598px) { body { zoom: 1.7755555555555556; } }
@media screen and (min-width: 1599px) { body { zoom: 1.7766666666666666; } }
@media screen and (min-width: 1600px) { body { zoom: 1.7777777777777777; } }
@media screen and (min-width: 1601px) { body { zoom: 1.778888888888889; } }
@media screen and (min-width: 1602px) { body { zoom: 1.78; } }
@media screen and (min-width: 1603px) { body { zoom: 1.781111111111111; } }
@media screen and (min-width: 1604px) { body { zoom: 1.7822222222222222; } }
@media screen and (min-width: 1605px) { body { zoom: 1.7833333333333334; } }
@media screen and (min-width: 1606px) { body { zoom: 1.7844444444444445; } }
@media screen and (min-width: 1607px) { body { zoom: 1.7855555555555556; } }
@media screen and (min-width: 1608px) { body { zoom: 1.7866666666666666; } }
@media screen and (min-width: 1609px) { body { zoom: 1.7877777777777777; } }
@media screen and (min-width: 1610px) { body { zoom: 1.788888888888889; } }
@media screen and (min-width: 1611px) { body { zoom: 1.79; } }
@media screen and (min-width: 1612px) { body { zoom: 1.791111111111111; } }
@media screen and (min-width: 1613px) { body { zoom: 1.7922222222222222; } }
@media screen and (min-width: 1614px) { body { zoom: 1.7933333333333332; } }
@media screen and (min-width: 1615px) { body { zoom: 1.7944444444444445; } }
@media screen and (min-width: 1616px) { body { zoom: 1.7955555555555556; } }
@media screen and (min-width: 1617px) { body { zoom: 1.7966666666666666; } }
@media screen and (min-width: 1618px) { body { zoom: 1.7977777777777777; } }
@media screen and (min-width: 1619px) { body { zoom: 1.798888888888889; } }
@media screen and (min-width: 1620px) { body { zoom: 1.8; } }
@media screen and (min-width: 1621px) { body { zoom: 1.801111111111111; } }
@media screen and (min-width: 1622px) { body { zoom: 1.8022222222222222; } }
@media screen and (min-width: 1623px) { body { zoom: 1.8033333333333332; } }
@media screen and (min-width: 1624px) { body { zoom: 1.8044444444444445; } }
@media screen and (min-width: 1625px) { body { zoom: 1.8055555555555556; } }
@media screen and (min-width: 1626px) { body { zoom: 1.8066666666666666; } }
@media screen and (min-width: 1627px) { body { zoom: 1.8077777777777777; } }
@media screen and (min-width: 1628px) { body { zoom: 1.808888888888889; } }
@media screen and (min-width: 1629px) { body { zoom: 1.81; } }
@media screen and (min-width: 1630px) { body { zoom: 1.8111111111111111; } }
@media screen and (min-width: 1631px) { body { zoom: 1.8122222222222222; } }
@media screen and (min-width: 1632px) { body { zoom: 1.8133333333333332; } }
@media screen and (min-width: 1633px) { body { zoom: 1.8144444444444445; } }
@media screen and (min-width: 1634px) { body { zoom: 1.8155555555555556; } }
@media screen and (min-width: 1635px) { body { zoom: 1.8166666666666667; } }
@media screen and (min-width: 1636px) { body { zoom: 1.8177777777777777; } }
@media screen and (min-width: 1637px) { body { zoom: 1.818888888888889; } }
@media screen and (min-width: 1638px) { body { zoom: 1.82; } }
@media screen and (min-width: 1639px) { body { zoom: 1.8211111111111111; } }
@media screen and (min-width: 1640px) { body { zoom: 1.8222222222222222; } }
@media screen and (min-width: 1641px) { body { zoom: 1.8233333333333333; } }
@media screen and (min-width: 1642px) { body { zoom: 1.8244444444444445; } }
@media screen and (min-width: 1643px) { body { zoom: 1.8255555555555556; } }
@media screen and (min-width: 1644px) { body { zoom: 1.8266666666666667; } }
@media screen and (min-width: 1645px) { body { zoom: 1.8277777777777777; } }
@media screen and (min-width: 1646px) { body { zoom: 1.8288888888888888; } }
@media screen and (min-width: 1647px) { body { zoom: 1.83; } }
@media screen and (min-width: 1648px) { body { zoom: 1.8311111111111111; } }
@media screen and (min-width: 1649px) { body { zoom: 1.8322222222222222; } }
@media screen and (min-width: 1650px) { body { zoom: 1.8333333333333333; } }
@media screen and (min-width: 1651px) { body { zoom: 1.8344444444444445; } }
@media screen and (min-width: 1652px) { body { zoom: 1.8355555555555556; } }
@media screen and (min-width: 1653px) { body { zoom: 1.8366666666666667; } }
@media screen and (min-width: 1654px) { body { zoom: 1.8377777777777777; } }
@media screen and (min-width: 1655px) { body { zoom: 1.8388888888888888; } }
@media screen and (min-width: 1656px) { body { zoom: 1.84; } }
@media screen and (min-width: 1657px) { body { zoom: 1.8411111111111111; } }
@media screen and (min-width: 1658px) { body { zoom: 1.8422222222222222; } }
@media screen and (min-width: 1659px) { body { zoom: 1.8433333333333333; } }
@media screen and (min-width: 1660px) { body { zoom: 1.8444444444444446; } }
@media screen and (min-width: 1661px) { body { zoom: 1.8455555555555556; } }
@media screen and (min-width: 1662px) { body { zoom: 1.8466666666666667; } }
@media screen and (min-width: 1663px) { body { zoom: 1.8477777777777777; } }
@media screen and (min-width: 1664px) { body { zoom: 1.8488888888888888; } }
@media screen and (min-width: 1665px) { body { zoom: 1.85; } }*/
/* device specifics */
/* medium-res devices (e.g. ipad and iphone) */
@media only screen and (max-device-width: 1024px) {
  /* To constrain pre-formatted text to body width */
  body {
    color: black; }

  html.ios pre {
    overflow: scroll; }

  html.ios pre, html.ios code, html.ios tt {
    font-size: 0.95em; }

  header {
    margin: 0 60px 0 45px; }

  header ul.navigation li a {
    font: inherit;
    font-size: 14px; }

  div.content {
    font-size: 1.2em; } }
/* iPhone */
@media only screen and (max-device-width: 480px) {
  header {
    height: 120px;
    margin: 0 1em 0 0.8em; }

  header h1 {
    float: none; }

  header ul.navigation {
    float: none;
    padding-left: 0.1em;
    margin-top: 5px; }

  h1, h2 {
    font-size: 160%; }

  h3 {
    font-size: 130%; }

  h4 {
    font-size: 115%; }

  h5, h6 {
    font-size: 110%; }

  pre, code, tt {
    font-size: 11px; }

  div.content {
    padding: 3em 1em;
    font-size: 1.1em; }

  div.content blockquote {
    padding-left: 2.5em;
    margin-left: -1em; }

  div.content div.quotation blockquote {
    margin-left: 0px; }

  div.content:not(.sub) h1:first-child {
    font-size: 210%; }

  div.content pre {
    margin: 0 -1em;
    padding: 1em;
    background-color: #eee;
    border-left: none;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd; } }
/* medium-res devices (e.g. ipad, but not iphone) */
#sidebar {
  display: none; }

@media only screen and (min-device-width: 480px) and (max-device-width: 1024px) {
  body {
    zoom: 1;
    width: 100%;
    font-family: 'Poly', georgia; } }
/* devices like laptops and regular computers (including ipad but not
   iphone) Note that iOS with retina display device calculates with a 1/2
   resolution due to the concept of "scale", thus an iPhone 4 triggers for
   480x240px rather than the actual 960x480 pixels. This is a good thing.
*/
/*@media only screen and (min-device-width: 480px) {*/
/*}*/
/* medium-res devices, landscape orientation (e.g. ipad but not iphone) */
/*@media only screen and (min-device-width: 480px) and (max-device-width: 1024px)
                     and (orientation:landscape) {
  header { display:none; }
  html.ipad #sidebar {
    display:block;
    width:240px;
    height:100%;
    border:none;
    background-color:black;
    position:absolute;
    right:0;
    top:0;
  }
  html.ipad { zoom:70%; }
}*/
