---
layout: simplepage
---
<div style="float:left;padding-right: 10px;padding-top: 19px;">
  <img src="/res/wl_face_small.jpg" alt="Wolfgang Loder" style=" margin: 0;"/>
</div>
<div>
  <p>Wolfgang is programming software since the 1980s.</p>
  <p>He successfully rejected all calls for management roles and remained hands-on until now.</p>
  <p>His journey went from Assembler and C to C++ and Java to C# and F# and JavaScript, from Waterfall To Agile, from Imperative to Declarative and other paradigm changes too many to list and remember.</p>
  <p>Most of his career Wolfgang was a contracting 'Enterprise Developer' and a freelancer, so the introduction of 'new' languages, frameworks and concepts is very slow in this field. Once he decided to develop his own products he was free of such constraints and ventured into all sorts of paradigms, be it NoSQL or functional and evaluating all the latest ideas, crazy or not. In other words, he has fun developing software.</p>
  <p>Wolfgang was born in Vienna, Austria and moves between the UK, Austria and Kenya.</p>
</div>
<div>
  More about the reason for the blog can be found in this post:
  <a href="{% post_url 2015-01-01-why-a-blog %}">Why a technical blog?</a>
</div>
<div>
  <a href="https://twitter.com/wolfgang_loder" class="twitter-follow-button" data-show-count="false">Follow @wolfgang_loder</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</div>
